@import '../../global.scss';

.ContentForm{
  display: flex;
  flex-direction: column;
  max-width: 340px;
  max-height: 650px;
  width: 30%;
  height: 80%;
  border-radius: 30px;
  border: 1px solid $colorOscuro;
  @extend .bg-segundario;
  &__title{
    text-align: center;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:80% ;

  }
}