@import '../../global.scss';

.Input{
  width: 80%;
  height: 35px;
  background-color: $colorOscuro;
  color:$colorClaro;
  border: none;
  border-bottom: 1px solid $colorClaro;
  @extend .sombra;
  &--top{
    border-radius: 0% 30px 0% 0%;
  }
  &--bottom{
    border-radius: 0% 0% 30px 0%;
  }
  &--cuadrado{
    border-radius: 0%;
  }
  &--default{
    border-radius: 0% 30px 0% 0%;
  }
}
.Input::placeholder{
  font-family: $fontFamily $normalStyle;
  font-style: $normalStyle;
  padding-left: 5%;
  color: $colorClaro;
}
