@import '../../global.scss';

.ItemShoppingList{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  text-align: center;
  height: 45px;
  margin: 1% 0;
  @extend .bg-oscuro;
}