@import '../global.scss';

.Login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__Form{
    position: relative;
  }
  &__Register{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
  }
}
.btn{
  position: absolute;
    right: -10%;
    top: 0%;
}