@import 'global.scss';

body{
    margin: 0;
/*     background-color: brown; */
    font-family: $fontFamily;
    font-style: $normalStyle;
}
.app{
    display: grid;
    grid-template-columns: 10% auto;
    min-height: 100vh;
    background-color: $colorPrimario;
    color: $colorClaro;
}