@import './global.scss';

.Caja{
  display: grid;
  grid-template-rows: 10% auto;
  grid-template-columns: 50% auto;
  max-height: 100vh;
  min-height: 100vh;
  &__title{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__products{
    display: grid;
    grid-template-columns: 50% auto;
    max-height: 70vh;
    overflow-y: scroll;
    &__title{
      grid-column-start: 1;
      grid-column-end: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      &__btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;        
      }
    }
    &::-webkit-scrollbar{
      height: 5px;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 30px;
        height: 5px;
        background: fade-out($colorClaro, 0.9)
    
    }
    &::-webkit-scrollbar-thumb:hover{
        display: block;
        box-shadow: 0 0 2px 1px fade-out($colorOscuro, 0.5);
        background: $colorClaro;
    }
  }
  &__compras{
    max-height: 70vh;
    &__title{
      grid-column-start: 2;
      grid-column-end: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}