@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,800,800i&display=swap');

$colorPrimario: #0D0D0D;
$colorSegundario: #D9583B;
$colorClaro: #FCFDFD;
$colorOscuro: #333232;
$colorContraste: #F0BC5E;
$colorAceptacion: #83FE4F;

$fontFamily: 'Nunito', sans-serif;
$h1: 60px;
$h1Style: "ExtraBold";
$h2: 50px;
$h2Style: "ExtraBold";
$h3: 50px;
$h3Style: "ExtraBold";
$h4: 50px;
$h4Style: "ExtraBold";
$h5: 50px;
$h5Style: "ExtraBold";
$normal: 18px;
$normalStyle: "Light Italic";

h2{
  font-style: $h2Style;
  font-size: $h2;
}

h3{
  font-style: $h3Style;
  font-size: $h3;
}

h4{
  font-style: $h4Style;
  font-size: $h4;
}

h5{
  font-style: $h5Style;
  font-size: $h5;
}