@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,800,800i&display=swap');

$colorPrimario: #0d0d0d;
$colorSegundario: #d9583b;
$colorClaro: #fcfdfd;
$colorOscuro: #333232;
$colorContraste: #f0bc5e;
$colorAceptacion: #83fe4f;

$fontFamily: 'Nunito', sans-serif;
$h1: 60px;
$h1Style: 'ExtraBold';
$h2: 50px;
$h2Style: 'ExtraBold';
$h3: 25px;
$h3Style: 'ExtraBold';
$h4: 18px;
$h4Style: 'ExtraBold';
$h5: 50px;
$h5Style: 'ExtraBold';
$normal: 18px;
$normalStyle: 'Light Italic';

h2 {
	font-style: $h2Style;
	font-size: $h2;
	margin: 0% auto;
}

h3 {
	font-style: $h3Style;
	font-size: $h3;
	margin: 0% auto;
}

h4 {
	font-style: $h4Style;
	font-size: $h4;
	margin: 0% auto;
}

h5 {
	font-style: $h5Style;
	font-size: $h5;
	margin: 0% auto;
}
p{
	margin: 0% auto;
}
.sombra {
	-webkit-box-shadow: 5px 3px 19px 0px $colorOscuro;
	-moz-box-shadow: 5px 3px 19px 0px $colorOscuro;
	box-shadow: 5px 3px 19px 0px $colorOscuro;
}
.bg-primario{
  background-color: $colorPrimario;
  color: $colorClaro;
}
.bg-oscuro{
  background-color: $colorOscuro;
  color: $colorClaro;
}
.bg-segundario{
  background-color: $colorSegundario;
  color: $colorOscuro;
}
.bg-aceptacion{
  background-color: $colorAceptacion;
  color: $colorOscuro;
}
.bg-contraste{
  background-color: $colorContraste;
  color: $colorOscuro;
}
.bg-transparent{
  background-color: transparent;
}