@import './global.scss';

.Login {
	display: flex;
	justify-content: space-around;
	align-items: center;
	&__Form {
		position: relative;
	}
	&__Register {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 50%;
	}
}
.btn {
	position: absolute;
	width: 60px;
	height: 60px;
  right: 10%;
  top: 10%;
}
.Link {
	width: 100%;
	text-align: center;
}
